.box
  %p.lead
    =surround "#{course.department.short}", ": #{course.name}" do
      %span.cnum= course.num
    %button.btn.add-course-btn{type:"button", :class => course.add_button_class, :title => course.add_button_tooltip}
      =course.button_text("Course")
      -if course.requires_code?
        %span.left-margin-5.glyphicon.glyphicon-lock
  %p.info
    %strong Time and place:
    =course.time_and_place
  -if course.instructors
    .info
      %strong Instructors:
      =course.linkify(:instructors)
  -if course.sister_course
    -sister = course.sister_course.decorate
    .info
      %strong Also offered: 
      =inline_form sister.term_and_year, sister.dept_and_cnum+" term:#{sister.term.downcase}"
  -if course.comments
    .info
      %strong Comments:
      =course.linkify(:comments)
  -if course.restrictions && !course.requires_code?
    .info
      %strong Restrictions:
      =course.restrictions
  -if course.has_prereqs?
    .info
      %strong Prerequisites:
      =course.linkify(:prereqs)
  -if course.cross_listed
    .info
      %strong Cross listed:
      =course.linkify(:cross_listed)
  %p.desc
    =course.desc

  =render partial:"subcourse", locals: {subcourses:course.labs, name:"lab"}
  =render partial:"subcourse", locals: {subcourses:course.lab_lectures, name:"lab lecture"}
  =render partial:"subcourse", locals: {subcourses:course.recitations, name:"recitation"}
  =render partial:"subcourse", locals: {subcourses:course.workshops, name:"workshop"}

  .progress
    %div.progress-bar{style:"width: #{course.enroll_bar_precentage}%", :class => "progress-bar-#{course.enroll_bar_style}"}

  .progress-num
    %small
      =course.enroll_ratio
      enrolled
