%hr
.box
  %a.bookmark.tooltippy{:href => "#", :onclick => "return false;", :title => "Bookmark this course", :data => {toggle:"tooltip", placement:"left"}}
    %span.glyphicon.glyphicon-bookmark
  %p.lead
    =surround "#{course.department.short}", ": #{course.name}" do
      %span.cnum= course.num
  .course-details
    -if course.sister_course
      -sister = course.sister_course.decorate
      .info
        %strong Also offered: 
        =inline_form sister.term_and_year, sister.dept_and_cnum+" term:#{sister.term.downcase}"
    -if course.comments
      .info
        %strong Comments:
        =course.linkify(:comments)
    -if course.restrictions
      .info
        %strong Restrictions:
        =course.restrictions
    -if course.has_prereqs?
      .info
        %strong Prerequisites:
        =course.linkify(:prereqs)
    -if course.cross_listed
      .info
        %strong Cross listed:
        =course.linkify(:cross_listed)
  %p.desc
    =course.desc
    =surround "(", ")" do
      =course.credits
      credits
  %table.wide
    -num_hidden = 0
    -course.sections.each do |section|
      -section = section.decorate
      -style = ""
      -klass = ""
      -# TODO - this is kind of an ugly way of filtering sections by instructor, but can't really think of another way
      -if params[:instructor_search] and not section.instructors =~ /#{params[:instructor_search]}/i
        -style = "display: none;"
        -klass = "showme"
        -num_hidden += 1
      %tr{:style => style, :class => klass}
        %td.course-btn
          %button.btn.add-course-btn.tooltippy{type:"button", :id => "#{section.crn}", :class => section.add_button_class, :data => {toggle:"tooltip"}, :title => section.add_button_tooltip}
            =section.button_text("Section")
            -if course.requires_code?
              %span.left-margin-5.glyphicon.glyphicon-lock
        %td.course-info
          %p.info
            %strong Time & Place:
            =section.time_and_place
          -if section.instructors
            .info
              %strong
                ="Instructor#{section.multiple_instructors? ? "s" : ""}:"
              -section.instructor_list.each_with_index do |i, idx|
                -if idx > 0
                  ;
                .dropdown.inline
                  %a{href:"#", onclick:"return false;", data:{toggle:"dropdown"}, :class => "dropdown-toggle"}
                    =i
                  =instructor_dropdown(i)
      %tr{:style => style, :class => klass}
        %td{colspan:"2"}
          .progress
            %div.progress-bar{style:"width: #{section.enroll_bar_precentage}%", :class => "progress-bar-#{section.enroll_bar_style}"}

          .progress-num
            %small
              =section.enroll_ratio
              enrolled

  -if num_hidden > 0
    %a{href:"#", onclick:"$(this).parent().find('.showme').show(); $(this).hide(); return false;"} 
      %strong
        Show
        =num_hidden
        more sections

  .subcourses
    =render partial:"subcourse", locals: {sections:course.labs, name:"lab"}
    =render partial:"subcourse", locals: {sections:course.lab_lectures, name:"lab lecture"}
    =render partial:"subcourse", locals: {sections:course.recitations, name:"recitation"}
    =render partial:"subcourse", locals: {sections:course.workshops, name:"workshop"}
