.box
  %p.lead
    =surround "#{course.department.short}", ": #{course.formatted_name}" do
      %span.cnum= course.num
    %button.btn.add-course-btn{type:"button", :class => "#{course.can_enroll? ? "btn-success" : "disabled"}"}
      =course_button_text(course, "Course")
  %p.info
    -if course.time_tba?
      %strong Time and place:
      TBA
    -else
      %span.right-margin-20
        %strong Time:
        =formatted_time_and_day(course)
      %strong Place:
      =course.building
      =course.room
  -if course.instructors
    .info
      %strong Instructors:
      =format_instructors(course.instructors)
  -if course.comments
    .info
      %strong Comments:
      =format_courselist(course.comments)
  -if course.has_prereqs?
    .info
      %strong Prerequisites:
      =format_courselist(course.prereqs)
  -if course.cross_listed
    .info
      %strong Cross listed:
      =format_courselist(course.cross_listed)
  %p.desc
    =course.desc

  =render partial:"subcourse", locals: {subcourses:course.labs, name:"lab"}
  =render partial:"subcourse", locals: {subcourses:course.lab_lectures, name:"lab lecture"}
  =render partial:"subcourse", locals: {subcourses:course.recitations, name:"recitation"}
  =render partial:"subcourse", locals: {subcourses:course.workshops, name:"workshop"}

  .progress
    %div.progress-bar{style:"width: #{enroll_bar_precentage(course)}%", :class => "progress-bar-#{enroll_bar_style(course)}"}

  .progress-num
    %small
      =enroll_ratio(course)
      enrolled
