.box
  %a.bookmark.tooltippy{:title => "Bookmark this course", :data => {toggle:"tooltip", placement:"left"}}
    %span.glyphicon.glyphicon-bookmark
  %p.lead
    =surround "#{course.department.short}", ": #{course.name}" do
      %span.cnum= course.num
  .course-details
    -if course.sister_course
      -sister = course.sister_course.decorate
      .info
        %strong Also offered: 
        =inline_form sister.term_and_year, sister.dept_and_cnum+" term:#{sister.term.downcase}"
    -if course.comments
      .info
        %strong Comments:
        =course.linkify(:comments)
    -if course.restrictions
      .info
        %strong Restrictions:
        =course.restrictions
    -if course.has_prereqs?
      .info
        %strong Prerequisites:
        =course.linkify(:prereqs)
    -if course.cross_listed
      .info
        %strong Cross listed:
        =course.linkify(:cross_listed)
  %p.desc
    =course.desc
  %table.wide
    -course.sections.each do |section|
      -section = section.decorate
      %tr
        %td.course-btn
          %button.btn.add-course-btn.tooltippy{type:"button", :id => "#{section.crn}", :class => section.add_button_class, :data => {toggle:"tooltip"}, :title => section.add_button_tooltip}
            =section.button_text("Section")
            -if course.requires_code?
              %span.left-margin-5.glyphicon.glyphicon-lock
        %td.course-info
          %p.info
            %strong Time & Place:
            =section.time_and_place
          -if section.instructors
            .info
              %strong
                ="Instructor#{section.multiple_instructors? ? "s" : ""}:"
              =section.instructors
          .progress
            %div.progress-bar{style:"width: #{section.enroll_bar_precentage}%", :class => "progress-bar-#{section.enroll_bar_style}"}

          .progress-num
            %small
              =section.enroll_ratio
              enrolled

  .subcourses
    =render partial:"subcourse", locals: {sections:course.labs, name:"lab"}
    =render partial:"subcourse", locals: {sections:course.lab_lectures, name:"lab lecture"}
    =render partial:"subcourse", locals: {sections:course.recitations, name:"recitation"}
    =render partial:"subcourse", locals: {sections:course.workshops, name:"workshop"}

%hr
