#main
  .container
    .row
      .col-md-8
        .row
          .col-md-3
            %h1
              skedge
              %br
              %small
                %p.sub better better cdcs
          .col-md-9
            =form_tag("/", method:"post", id:"form") do 
              .input-group#search
                %input.form-control#search-input{name:"query", type:"search", placeholder:"CSC 172 / CSC / Science of Programming", value:"#{params[:query]}"}
                .input-group-addon
                  %span.glyphicon.glyphicon-search
            .row
              .col-md-10

                %table#filter-table
                  %tr
                    %td.middle
                      %h5 Filter:
                    %td.middle
                      Start time:
                      .btn-group
                        %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data_toggle:"dropdown"}
                          All
                          %span.caret
                        %ul.dropdown-menu{role:"menu"}
                          %li
                            %a Action0
                            %a Action1

                      %span.filter-label Class size:
                      .btn-group
                        %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data_toggle:"dropdown"}
                          Any
                          %span.caret
                        %ul.dropdown-menu{role:"menu"}
                          %li
                            %a Small (0-15)
                            %a Medium (16-40)
                            %a Large (41-80)

                      %br

                      Hide conflicts
                      .btn-group.filter.filter-dd
                        %input{type:"checkbox"}

                      %span.filter-label Show fall courses
                      .btn-group.filter.filter-dd
                        %input{type:"checkbox"}
                  %tr
                    %td.middle
                      %h5 Sort:
                    %td.middle
                      By:
                      .btn-group
                        %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data_toggle:"dropdown"}
                          Course number
                          %span.caret
                        %ul.dropdown-menu{role:"menu"}
                          %li
                            %a Start time
                            %a Students enrolled

                      %span.filter-label
                      %button.btn.btn-link.btn-xs Dependency Graph™

            %hr.hr-filter

        .row
          .col-md-12
            -@courses.each do |course|
              .box
                %p.lead
                  =surround "#{course.department.short}", ": #{course.name.upcase}" do
                    %span.cnum= course.num
                  %button.btn.btn-success.enroll{type:"button"} Add Course
                %p.info
                  %strong Time:
                  =course.formatted_time
                  %span.sp2
                  %strong Place:
                  %a= course.building
                  =course.room
                -if course.instructors
                  %p.info
                    %strong Instructors:
                    =raw course.formatted_instructors
                -if course.comments
                  %p.info
                    %strong Comments:
                    =course.comments
                -if course.prereqs
                  %p.info
                    %strong Prerequisites:
                    =raw course.formatted_prereqs
                -if course.cross_listed
                  %p.info
                    %strong Cross Listed:
                    =raw course.formatted_cross_listed
                %p.desc
                  =course.desc

                .num-enrolled
                  .progress
                    %div{role:"progressbar", style:"width: #{course.enroll_percent}%", class:"progress-bar progress-bar-#{course.bar_style}"}
            
                .progress-num
                  %small
                    =surround "#{course.enroll}", "#{course.cap == 0 ? "∞" : course.cap}" do
                      ="/"
                    enrolled
      .col-md-4
        #schedule
        
     
  .container
    .row
      .col-md-2.col-md-offset-10
        %footer
          %p
          a
          %a rochack
          project