.row
  .col-md-8
    
    =form_tag(".", method:"post", id:"form") do #formtag has to be out here so it encapsulates the filter fields
      .bar
        .row.top-margin
          =render partial:"logo"
          
          -#SEARCHBAR
          -#.col-md-10{style:"background-color:blue;"}
          #search-group
            .input-group
              %input.form-control#search-input.searcher{name:"q", type:"text", placeholder:"CSC / CSC 171 / Science of Programming", value:"#{@query}"}
              %span.input-group-btn
                %button#search-btn.searcher{type:"submit", :class=>"btn btn-default"}
                  %span.glyphicon.glyphicon-search

          #skedge-btn
            %button.btn.btn-default{onclick:"show_skedge(); return false;", href:"#"}
              Schedule
      .row
        .col-md-2
        .col-md-10              
          =render partial:"filters"

    -#RESULTS
    .row
      .col-md-12
        -if !@courses
          =render partial:"splash"
        -elsif @courses.empty?
          %hr
          %p.lead.no-results
            No results found.
        -else
          .search-results
            .search-info
              Found
              =@courses.size
              ="course#{@courses.size == 1 ? "" : "s"}"
              -if params["capped"]
                (capped)
              in
              %span#render-time
            -@courses.each do |course|
              =render partial:"course", locals: {course: course.decorate}
       
  -#SCHEDULE   
  .col-md-4
    .fixed
      .side-options
        .row
          .col-md-6
            %a#share-link{href:(@my_schedule ? "#{@my_schedule.id}" : ""), target:"_blank", :style => @my_schedule ? "" : "display: none;"}
              %button.btn.btn-default.share
                Share and more...
          .col-md-6
            %button.btn.btn-default.side-menu#toggle-btn{href:"#", onclick:"toggleSide(); return false;"}
              My bookmarks
            -#.btn-group.side-menu this is for multiple skedges
              %button.btn.btn-default.btn-xs.dropdown-toggle{type:"button", data:{toggle:"dropdown"}}
                %strong Spring 2014
                %span.caret
              %ul.dropdown-menu{role:"menu"}
                %li="Add new..."
      .bk
        .panel.panel-default.bk-panel
          .panel-heading
            %strong My Bookmarks
          .b-b
            %table.table.table-hover.book-table
              %tbody.bookies
          .panel-footer.center.bk-footer
            %button.btn.btn-primary{href:"#", onclick:"toggleSide(this); return false;"}
              Fit into my schedule
            %button.btn.btn-primary{href:"#", onclick:"toggleSide(this); return false;"}
              Generate schedules
        :javascript
          $('.bk').hide()
      .sk
        =render partial:"schedule", locals: {side:true}

:javascript
  $(document).ready(function () {
    #{load_schedule(@my_schedule, @side)}
    #{@side ? load_bookmarks(@my_schedule) : ""}
  });
