.row
  .col-md-2
    =render partial:"logo"
    -if @schedule
      .options
        -if @my_schedule != @schedule
          %a{href:"#", onclick:"#{load_schedule(@my_schedule, false, true)}; return false;"}
            %button.btn.btn-default.s-option-btn{href:"#"}
              Compare schedules!              
          
  .col-md-10.screenshot
    .big-schedule
      =render partial:"schedule", locals: {side:false, exists:@schedule.presence}


-needs_update = false && (@schedule == @my_schedule && (!@schedule.image_file_name || (!@schedule.image_file_name && @schedule.image_updated_at > @schedule.updated_at)))
:javascript
  $(document).ready( function () {
    #{load_schedule(@schedule, false)}
    / #{if needs_update then "render_img(#{@schedule.id}, window.location.hash=='#img');" elsif @schedule then "if (window.location.hash=='#img') { window.location='#{@schedule.image.url}'; }" end }
  });