.row
  .col-md-2
    =render partial:"logo"
    -if @schedule
      .options
        -if @my_schedule != @schedule
          %a{href:"#", onclick:"#{load_schedule(@my_schedule, false, true)}; return false;"}
            %button.btn.btn-default.s-option-btn{href:"#"}
              Compare schedules!

        .btn-group
          %button.btn.btn-default.dropdown-toggle{type:"button", data:{toggle:"dropdown"}}
            Download
            %span.caret
          %ul.dropdown-menu{role:"menu"}
            %li
              %a{href:"#", onclick:"render_ics()"} iCal
            %li
              %a{href:"#"} Google Calendar
            %li
              %a#download-img{href: @schedule.image.url } Image
            %li.divider
            %li
              %a{href:"#"} Print
              
          
  .col-md-10.white
    .big-schedule
      =render partial:"schedule", locals: {side:false, exists:@schedule.presence}


-needs_update = (@schedule == @my_schedule && @schedule.image_file_name && @schedule.image_updated_at > @schedule.updated_at)
:javascript
  $(document).ready( function () {
    #{needs_update ? "render_img(#{@schedule.id});" : ""}
    #{load_schedule(@schedule, false)}
  });


-##{load_schedule(@schedule, false)}