!!!
%html
  %head
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title skedge
    <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
    =favicon_link_tag "favicon.png"
    =stylesheet_link_tag "application", media: "all"
    =yield(:css)
    =javascript_include_tag "application"
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
    =csrf_meta_tags
    -if @schedule 
      %meta(property="og:type" content="object")
      %meta(property="og:url" content="http://skedgeur.com/#{@schedule.rid}")
      %meta(property="og:title" content="#{@schedule.description} Schedule")
      %meta(property="og:description" content="#{@schedule.sections_description}")
      %meta(property="og:image" content="http://skedgeur.com/#{@schedule.rid}.jpg")

  %body
    .container-fluid
      = content_for?(:content) ? yield(:content) : yield

    =react_component 'Feedback'
    

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69603914-1', 'auto');
  ga('send', 'pageview');

  // retroactively cross-link cookies
  var secret = "#{current_user.try(:secret)}";
  if (secret && secret.length > 0) {
    var d = new Date();
    d.setTime(d.getTime() + (4*365*24*60*60*1000));
    document.cookie = "s_id=x&"+secret+"; expires="+d.toUTCString()+"; domain=.skedgeur.com";  
  }
  